/*homepage only css*/
#homepage{
	position:relative;
	margin:0 auto 30px;
	display:block;
	width:100%;
	}

/* Left Column*/

#homepage #left_column{
	display:block;
	float:left;
	width:480px;
	}

#homepage #left_column .imgholder{
	margin-bottom:20px;
	}

/* Latest News*/

#homepage #latestnews{
	display:block;
	float:left;
	width:420px;
	margin:0 0 0 15px;
	}

#homepage #latestnews ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#homepage #latestnews li{
	display:block;
	width:100%;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	list-style:none;
	border-bottom:1px solid #7C4EAC;
	}

#latestnews .latestnews{
	display:block;
	float:left;
	width:420px;
	margin:0;
	padding:0;
	}

#latestnews .latestnews p{
	margin:0 0 8px 0;
	padding:0;
	}

#latestnews p.readmore{
	display:block;
	width:100%;
	clear:both;
	margin:0;
	padding:0;
	text-align:right;
	}


